---
layout: default
title: Sample Package
permalink: /custom-audio-packages/packages
article: false
ticker: true
---
<div class="tm-block tm-block-light">
	<div class="uk-container uk-container-center">
		<div class="uk-grid">
			<div class="uk-width-medium-1-4">
				<ul class="uk-tab uk-tab-left" data-uk-tab="{connect:'#tab-left-content'}">
					{% for package in site.data.packages %}
						<li class="{% if forloop.index == 1 %}uk-active{% endif %}" aria-expanded="false"><a href="#">{{package.package-group}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="uk-width-medium-3-4">
				<ul id="tab-left-content" class="uk-switcher">
					{% for package in site.data.packages %}
						<li class="" aria-hidden="true">
							<dl class="uk-description-list-line">
								{% for pack in package.packages %}
									<dt>{{pack.name}}</dt>
									{% for product in pack.products %}
										<dd>{{product.name}} - {{product.description}}</dd>
											{% for detail in product.details %}
												<dd>- {{detail.item}}</dd>
											{% endfor %}
									{% endfor %}
									<dd>${{pack.price}}<dd>
									<p>{{pack.footnote}}</p>
								{% endfor %}
							</dl>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>