---
layout: default
title: Hear From Our Satisfied Vancouver, BC Clients!
description: Don’t just hear from us, hear what our happy clients have to say - from home entertainment systems in Vancouver, BC to commercial AV in White Rock, BC and more!
permalink: /products/category/headphone
article: true
ticker: true
---

<div class="products-page uk-container uk-container-center">
	<div class="uk-grid">
		<div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small uk-row-first">
			<ul class="tm-nav uk-nav">
				<div>
					<ul class="uk-nav">
						{% include products-list.html %}
					</ul>
				</div>
			</ul>
		</div>
		<div class="tm-main uk-width-medium-3-4 uk-grid-match">
			<h4 class="tm-article-subtitle uk-text-center">headphone</h4>
			<div class="uk-grid ">

				{% for item in site.headphone %}

					<div class="uk-width-medium-1-2">
						<div class="product-box">
							<a><i class="fa fa-heart fa-lg favorite" aria-hidden="true"></i></a>
							<div>
								<div class="product-image">
									<img alt="product" src="{{item.thumbnail}}">
								</div>
							</div>
							<div class="uk-overflow-container">	
								<ul class="uk-list product-description">
									<li class="tm-article-subtitle uk-text-bold">{{item.title}}</li>
									<li>{{item.price}}</li>
									<li><button class="uk-button uk-button-primary buy-button">More details</button></li>
								</ul>
							</div>
						</div>
					</div>

				{% endfor %}
			
			</div>
		</div>
	</div>
</div>