---
layout: default
title: Hear From Our Satisfied Vancouver, BC Clients!
description: Don’t just hear from us, hear what our happy clients have to say - from home entertainment systems in Vancouver, BC to commercial AV in White Rock, BC and more!
permalink: /products/category/accessories-list
article: true
ticker: true
---

<div class="products-page uk-container uk-container-center">
    <div class="uk-grid">
        <div class="tm-main uk-width-medium-4-4 breadcrumbs">
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <a href="/">Home</a>
            {% for crumb in crumbs offset: 1 %}
            {% if forloop.last %}
            / {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
            {% else %}
            / <a
                href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{
            crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small uk-row-first">
            <ul class="tm-nav uk-nav">
                <div>
                    <ul class="uk-nav">
                        {% include products-list.html %}
                    </ul>
                </div>
            </ul>
        </div>
        <div class="tm-main uk-width-medium-3-4">
            <h4 class="tm-article-subtitle uk-text-center">Accessories</h4>
            <div class="uk-grid" data-uk-grid-match>
                {% for item in site.products %}
                {% if item.category == 'accessories' %}
                <div class="uk-panel">
                    <a href="{{item.url}}">
                        <div class="product-box uk-grid">
                            <!--<a><i class="fa fa-heart fa-lg favorite" aria-hidden="true"></i></a>-->
                            <div class="uk-width-medium-1-5">
                                <div class="product-image">
                                    <img alt="product"
                                         src="{% if item.thumbnail %}{{item.thumbnail}}{% else %}{{item.images.first.thumbnail}}{% endif %}">
                                </div>
                            </div>
                            <div class="uk-width-medium-3-5">
                                <h4>{{item.title}}</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet viverra est.
                                    Nam at iaculis ipsum. Proin imperdiet sagittis pharetra. Orci varius natoque
                                    penatibus et magnis dis parturient montes.</p>
                            </div>
                            <div class="uk-overflow-container uk-width-medium-1-5">
                                <ul class="uk-list product-description">
                                    <li>{{item.price}}</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>