{% if page.ticker == true or page.is_post == true %}
<ul class="bxslider">
    <li><a href="http://www.anthemav.com/"><img src="/images/ticker/anthem.png"></a></li>
    <li><a href="https://www.cambridgeaudio.com/"><img src="/images/ticker/cambridge.png"></a></li>
    <li><a href="http://www.triadspeakers.com/"><img src="/images/ticker/triad.png"></a></li>
    <li><a href="https://www.crestron.com/"><img src="/images/ticker/crestron.jpg"></a></li>
    <li><a href="http://www.definitivetech.com/"><img src="/images/ticker/deftech.gif"></a></li>
    <li><a href="http://ca.denon.com/ca/"><img src="/images/ticker/denon.png"></a></li>
    <li><a href="http://www.control4.com/"><img src="/images/ticker/control4.png"></a></li>
    <li><a href="http://www.xloelectric.com/"><img src="/images/ticker/xlo.png"></a></li>
    <li><a href="http://ca.marantz.com/"><img src="/images/ticker/marrantz.png"></a></li>
    <li><a href="http://www.martinlogan.com/"><img src="/images/ticker/martin.jpg"></a></li>
    <li><a href="http://www.paradigm.com/"><img src="/images/ticker/paradigm.png"></a></li>
    <li><a href="http://www.rticorp.com/"><img src="/images/ticker/rti.png"></a></li>
    <li><a href="http://wolfcinema.com/"><img src="/images/ticker/wolf.jpg"></a></li>
    <li><a href="http://www.solid-tech.net/"><img src="/images/ticker/solid.png"></a></li>
    <li><a href="http://www.kantoliving.com/"><img src="/images/ticker/kanto.jpg"></a></li>
    <li><a href="http://www.vicoustic.com/"><img src="/images/ticker/vi.png"></a></li>
    <li><a href="http://www.bdiusa.com/"><img src="/images/ticker/bdi.jpg"></a></li>
    <li><a href="http://www.sonos.com/en-ca"><img src="/images/ticker/sonos.png"></a></li>
    <li><a href="http://www.crestron.com/microsites/crestron-pyng-home-automation-ipad-app"><img src="/images/ticker/pyng.png"></a></li>
    <li><a href="http://www.factorelectronics.com/"><img src="/images/ticker/factor.png"></a></li>
    <li><a href="http://ca.denon.com/ca/heos"><img src="/images/ticker/heos.jpg"></a></li>
    <li><a href="https://www.logitech.com/"><img src="/images/ticker/logitech.jpg"></a></li>
    <li><a href="http://www.primacoustic.com/"><img src="/images/ticker/primacoustic.jpg"></a></li>
    <li><a href="http://procontrol.com/"><img src="/images/ticker/pro.jpg"></a></li>
    <li><a href="http://www.middleatlantic.ca/"><img src="/images/ticker/middle.png"></a></li>
</ul>
{% endif %}