<div class="tm-main uk-width-medium-1-3">
	<div class="uk-panel">
		<h4 class="tm-article-subtitle">Categories</h4>
		<ul class="tags uk-list uk-list-striped">
			{% for category in site.categories %}
				<li><a href="{{ site.url }}/blog/category/{{ category | first }}" class="tm-article-subtitle blog-category-name" name="{{ category | first }}">{{ category | first | replace: '-', ' ' | capitalize  }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="uk-panel">
		<h4 class="tm-article-subtitle">Tags</h4>
		<ul class="tags uk-list uk-list-striped">
			{% for tag in site.tags %}
				{% assign t = tag | first %}
				{% assign posts = tag | last %}
				<li><a href="{{ site.url }}blog/tag/{{ tag | first }}">{{t | downcase | replace:" ","-" }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>