      <div class="tm-bottom tm-block tm-block-black">
        <div class="uk-container uk-container-center">
          <div class="tm-block">
            <section class="tm-bottom-c uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
              <div class="uk-width-1-1">
                <div class="uk-panel">
                  <p style="text-align: center;">
                    <span style="color: #ffffff;">
                      <a href="/">
                        <span style="color: #ffffff;">Home</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/services/residential">
                        <span style="color: #ffffff;">Residential Service</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/services/commercial-page">
                        <span style="color: #ffffff;">Commercial Services</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/image-gallery">
                        <span style="color: #ffffff;">Gallery</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/demos/virtual-demo">
                        <span style="color: #ffffff;">Demos</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/brands">
                        <span style="color: #ffffff;">Brands</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/newsblog">
                        <span style="color: #ffffff;">News Blog</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="https://www.canuckaudiomart.com/userads.php?user_id=20341">
                        <span style="color: #ffffff;">Demo Sale</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/contact">
                        <span style="color: #ffffff;">Contact Us</span>
                      </a>
                    </span>
                    
                  </p>
                  <p style="text-align: center;">
                    <span style="font-size: 10pt; color: #ffffff;">Copyright ©&nbsp;West Coast Audio Video Gallery&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;408 Terminal Ave  Vancouver, BC V6A 0C1, Canada TEL (604) 669-5001 FAX (604) 669-5444</span></a></span>
                  </p>
                  <p style="text-align: center;">
                    <span style="color: #ffffff;">
                      <img src="/images/footer/logo_footer_bbb.png" alt="Home Automation Vancouver Better Business Bureau">&nbsp;&nbsp;
                      <img src="/images/footer/logo_footer_consumer_choice_award_2010.png" alt="Home Theater Vancouver consumer choice award 2010">&nbsp;&nbsp;
                      <span style="color: #ffffff;">
                        <img src="/images/footer/logo_footer_consumer_choice_award_2012.png" alt="Home Automation Vancouver consumer choice award 2012">
                      </span> &nbsp;
                      <span style="color: #ffffff;">
                        <img src="/images/footer/logo_footer_consumer_choice_award_2014.png" alt="Home Automation Vancouver consumer choice award 2014">
                      </span>
                      <br>
                    </span>
                  </p>
                  <center>
                  <p>
                    <a class="uk-icon-large uk-icon-twitter" href="https://twitter.com/WestcoastAVG" target="_blank"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="uk-icon-medium uk-icon-facebook" href="https://www.facebook.com/WestcoastAVGallery" target="_blank"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="uk-icon-medium uk-icon-instagram" href="https://www.instagram.com/westcoast_av_gallery/" target="_blank"></a>
                  </p>
                  </center>
                  
                </div>
                
              </div>
              
            </section>
          </div>
        </div>
      </div>