<div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
          <div class="uk-panel">
            <form id="search-114" class="uk-search" action="https://www.canuckaudiomart.com/userads.php?user_id=20341" target="_blank" method="post" role="search">
              <input class="uk-search-field" type="search" name="searchword" placeholder="search...">
              <button class="uk-search-close" type="reset"></button>
              <input type="hidden" name="task" value="search">
              <input type="hidden" name="option" value="com_search">
              <input type="hidden" name="Itemid" value="251">
            </form>
          </div>
          <ul class="uk-nav uk-nav-offcanvas">
            <li><a href="/">Home </a></li>
            
            <li class="uk-parent">
              <a>Services</a>
              <ul class="uk-nav-sub">
                <li><a href="/services/residential">Residential </a></li>
                <li class="uk-parent">
                  <a href="/services/commercial-page">Commercial</a>
                  <ul>
                    <li><a href="/services/commercial/boardrooms"><i class="uk-icon-chevron-right"></i> Boardrooms </a></li>
                    <li><a href="/services/commercial/mdu"><i class="uk-icon-chevron-right"></i> MDU Automation Vancouver, BC </a></li>
                    <li><a href="/services/commercial/other"><i class="uk-icon-chevron-right"></i>Other</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="/image-gallery">Gallery </a></li>
            <li class="uk-parent">
              <a>Demos</a>
              <ul class="uk-nav-sub">
                <li><a href="/demos/virtual-demo">Virtual Demo </a></li>
                <li><a href="/demos/smart-home-layout">Smart Home Layout </a></li>
              </ul>
            </li>
            <li><a href="/brands">Brands </a></li>
            <li><a href="/clients">Clients </a></li>
            <li class="uk-active"><a href="https://www.canuckaudiomart.com/userads.php?user_id=20341" target="_blank">Demo Sale </a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>