<div class="absolute">
    <div class="">
        <!-- This is the button toggling the off-canvas sidebar -->
        <p>
            <a data-uk-offcanvas="{target:'#my-id1'}">
          <img src="/images/images2/button_flyout_offcanvas_contact.png" alt="button offcanva contact us">
        </a>
            <a data-uk-offcanvas="{target:'#my-id2'}">
                <br />
                <img src="/images/images2/button_flyout_offcanvas_subscribe.png" alt="button offcanva subscribe">
            </a>
        </p>
        <!-- This is the off-canvas sidebar -->
        <div id="my-id1" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <div class="uk-panel">
                    <h1><span style="color: #ffffff;">Contact Us</span></h1>
                    <p>Don’t hesitate to let us know how we can help you. We are here to answer any questions you might have or assist you with a project.</p>
                    <iframe height="558" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://osaga2.wufoo.com/embed/mzbpy4h0zs13ua/">&lt;a href="https://osaga2.wufoo.com/forms/mzbpy4h0zs13ua/"&gt;Fill out my Wufoo form!&lt;/a&gt;</iframe>
                </div>
            </div>
        </div>
        <div id="my-id2" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <div class="uk-panel">
                    <h1><span style="color: #ffffff;">Subscribe</span></h1>
                    <p>Join our mailing list and stay up to date on the latest smart technology news and events.</p>
                    <iframe height="380" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://osaga2.wufoo.com/embed/m1yims7x0ok5z07/">&lt;a href="https://osaga2.wufoo.com/forms/m1yims7x0ok5z07/"&gt;Fill out my Wufoo form!&lt;/a&gt;</iframe>
                </div>
            </div>
        </div>
    </div>
</div>