<div class="tm-toolbar uk-clearfix uk-hidden-small">
    <div class="uk-float-left">
        <div class="uk-panel">
            <p>
                <strong>Monday - Friday:</strong> 10:00 am - 6:00 pm |
                <strong>Saturday:</strong> 11am to 6pm
            </p>
        </div>
    </div>
    <div class="uk-float-right">
        <div class="uk-panel">
            <p>
                <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
              
              <span itemprop="streetAddress">408 Terminal Ave
              </span>
                <span itemprop="addressLocality">Vancouver
              </span>,
                <span itemprop="addressRegion">BC
              </span>
                <span itemprop="postalCode">V6A 0C1
              </span>,
                <span itemprop="addressCountry">Canada
              </span>
                </span>|
                <strong>Call Us Today
            
            <span itemprop="telephone">(604) 669-5001
            </span>
            
            </strong>
            </p>
        </div>
    </div>
    <strong>
      </strong>
</div>