.tm-block-black {
  background-color: #005C92;
}

.tm-navbar + .tm-block, .tm-block-padding + .tm-block {
    padding-top: 0;
}

body {
  margin: 0;
  font-family: 'Varela';
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
}

.myclass {
    padding-bottom: 0px;
}

.uk-navbar-nav > li.uk-active > a {
    background-color: #1178B2;
    color: #FFFFFF;
}

.tm-block-black {
    background-color: #444444;
}

/* Position and style for Absolute Module: */  
.absolute {  
position: fixed;  
right: 0;  
top: 180px;  
z-index: 99;  

}

/** Demo sale styling */
.demo-sale {
  text-align:center;
  border-bottom: 1px solid black;
  margin-bottom:20px;
/*width: 256px !important;
height: 700px !important;*/
}

.line {
  color: gray;

}

.product-row {
  margin-bottom: 30px;  
}

.demo-product-title {
  font-size: 23px;
}

.lead {
  color: #1178B2;
}

.client {
  height: auto;

}

.frame {
  margin:0px;

}

.client-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

