---
layout: blog
article: true
ticker: true
---
<div class="uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
	<hr class="uk-grid-divider" style="margin-bottom: 0px;margin-top:0px;">
	<div class="tm-main uk-width-medium-2-3">
		<article class="post">
			<h1>{{ page.title }}</h1>
			{% if page.original-url %}
				<a href="{{page.original-url}}"><p>Original source</p></a>
			{% endif %}
			<p class="uk-article-meta">Written on {{ page.date | date: "%B %e, %Y" }} in  
			{% for tag in page.tags %}
				<a href="{{ site.url }}/blog/tag/{{tag}}">{{ tag }}</a>{% if forloop.last == false %},{% endif %}
			{% endfor %}
			</p>
			<p class="uk-article-meta">Categories: 
			{% for category in page.categories %}
				<a href="{{ site.url }}/blog/category/{{category}}">{{ category }}</a>{% if forloop.last == false %},{% endif %}
			{% endfor %}
			</p>
			<!--the Twitter base https://twitter.com/share -->
			<a href="https://twitter.com/share?text={{ page.title }}&url={{ page.shorturl }}&via=westcoastavg">
				<!-- use the twitter logo for the link -->
				<img alt="..."
				class="footer-icon"
				src="{{ site.baseurl }}/images/social-icons/twitter.png">
			</a>
			<!--the Facebook base
			https://www.facebook.com/dialog/share? -->
			<a href="https://www.facebook.com/dialog/share?app_id=1726785940885656&display=popup&href={{ site.url }}{{ page.url }}&redirect_uri={{ site.url }}{{ page.url }}&picture={{ page.cover }}">
				<!-- use the facebook logo for the link -->
				<img
				alt="..."
				class="footer-icon"
				src="{{ site.baseurl }}/images/social-icons/facebook.png">
			</a>
			<!--the LinkedIn base url
			http://www.linkedin.com/shareArticle?mini=true -->
			<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.title }}">
				<!-- use the linkedin logo for the link -->
				<img alt="..."
				class="footer-icon"
				src="{{ site.baseurl }}/images/social-icons/linkedin.png">
			</a>
			<!--the Google+ link url;
			base = https://plus.google.com/share? -->
			<a href="https://plus.google.com/share?url=http://westcoastavgallery.ca{{ page.url }}&hl=en-US" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"> <!-- use the google+ logo for the link -->
			<img
			alt="..."
			class="footer-icon"
			src="{{ site.baseurl }}/images/social-icons/google.png">
		</a>
		{{ content }}
	</article>
	
</div>
{% include cats-tags.html %}
</div>