<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }} {{page.ticker}}</title>
    {% include meta.html %}
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="stylesheet" href="/cache/widgetkit/widgetkit-733ccdec.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery-noconflict.js" type="text/javascript"></script>
    <script src="/js/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/js/widgetkit-4a5a238f.js" type="text/javascript"></script>
    <script src="/js/uikit.js"></script>
    <script src="/js/social.js"></script>
    <script src="/js/theme.js"></script>
    <!-- bxSlider Javascript file -->
    <script src="/js/bxslider/jquery.bxslider.min.js"></script>
    <!-- bxSlider CSS file -->
    <link href="/js/bxslider/jquery.bxslider.css" rel="stylesheet" />
    {% if page.ticker == true or page.is_post == true%}
      <script type="text/javascript">
      jQuery(document).ready(function(){
      jQuery('.bxslider').bxSlider({
      minSlides: 5,
      maxSlides: 15,
      slideWidth: 150,
      slideMargin: 10,
      ticker: true,
      speed: 100000,
      tickerHover:true,
      useCSS: false
      });
      });
      </script>
    {% endif %}
  </head>
  <body class="tm-isblog">
    <div class="absolute"><div class="">
      <!-- This is the button toggling the off-canvas sidebar -->
      <p><a data-uk-offcanvas="{target:'#my-id1'}"><img src="/images/images2/button_flyout_offcanvas_contact.png" alt="button offcanva contact us"></a><a data-uk-offcanvas="{target:'#my-id2'}"><br><img src="/images/images2/button_flyout_offcanvas_subscribe.png" alt="button offcanva subscribe"></a>
    </p>
    <!-- This is the off-canvas sidebar -->
    <div id="my-id1" class="uk-offcanvas">
      <div class="uk-offcanvas-bar">
        <div class="uk-panel">
          <h1><span style="color: #ffffff;">Contact Us</span></h1>
          <p>Don’t hesitate to let us know how we can help you. We are here to answer any questions you might have or assist you with a project.</p>
          
          <iframe height="558" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://osaga2.wufoo.com/embed/mzbpy4h0zs13ua/">&lt;a href="https://osaga2.wufoo.com/forms/mzbpy4h0zs13ua/"&gt;Fill out my Wufoo form!&lt;/a&gt;</iframe>
          
        </div>
      </div>
    </div>
    <div id="my-id2" class="uk-offcanvas">
      <div class="uk-offcanvas-bar">
        <div class="uk-panel">
          <h1><span style="color: #ffffff;">Subscribe</span></h1>
          <p>Join our mailing list and stay up to date on the latest smart technology news and events.</p>
          
          <iframe height="380" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://osaga2.wufoo.com/embed/m1yims7x0ok5z07/">&lt;a href="https://osaga2.wufoo.com/forms/m1yims7x0ok5z07/"&gt;Fill out my Wufoo form!&lt;/a&gt;</iframe>
          
        </div>
      </div>
    </div></div></div>
    
    <div class="tm-toolbar uk-clearfix uk-hidden-small">
      
      <div class="uk-float-right">
        
        <div class="uk-panel">
          
          <p>
            
            <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
              
              <span itemprop="streetAddress">408 Terminal Ave
              </span>
              
              <span itemprop="addressLocality">Vancouver
              </span>,
              
              <span itemprop="addressRegion">BC
              </span>
              
              <span itemprop="postalCode">V6A 0C1
              </span>,
              
              <span itemprop="addressCountry">Canada
              </span>
              
            </span>|
            
            <strong>Call Us Today
            
            <span itemprop="telephone">(604) 669-5001
            </span>
            
            </strong>
            
          </p>
          
        </div>
        
      </div>
      
      
      <strong>
      </strong>
      
      
    </div>
    
    
    <div class="tm-page">
      
      <nav class="tm-navbar uk-navbar">
        
        <div class="uk-navbar-flip">
          <ul class="uk-navbar-nav uk-visible-large">
            <li class="uk-parent" data-uk-dropdown="{boundary:&quot;.tm-page:first&quot;}">
              <a>
                Services
              </a>
              <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-2" style="width: 480px;">
                <div class="uk-grid">
                  <div class="uk-width-1-2">
                    <ul class="uk-nav uk-nav-navbar">
                      <li>
                        <a href="/services/residential">Residential
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="uk-width-1-2">
                    <ul class="uk-nav uk-nav-navbar">
                      <li class="uk-parent">
                        <a href="/services/commercial-page">Commercial
                        </a>
                        <ul>
                          <li>
                            <a href="/services/commercial/boardrooms">
                              <i class="uk-icon-chevron-right">
                              </i> Boardrooms
                            </a>
                          </li>
                          <li>
                            <a href="/services/commercial/mdu">
                              <i class="uk-icon-chevron-right">
                              </i> MDU Automation Vancouver, BC
                            </a>
                          </li>
                          <li>
                            <a href="/services/commercial/other">
                              <i class="uk-icon-chevron-right">
                              </i> Other
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="" data-uk-dropdown="{boundary:&quot;.tm-page:first&quot;}">
              <a href="/brands">Brands
              </a>
            </li>
            <li data-uk-dropdown="{boundary:&quot;.tm-page:first&quot;}">
              <a class="uk-hidden" href="/">Home
              </a>
            </li>
            <li data-uk-dropdown="{boundary:&quot;.tm-page:first&quot;}" class="">
              <a href="/clients">Clients
              </a>
            </li>
            <li class="uk-parent" data-uk-dropdown="{boundary:&quot;.tm-page:first&quot;}">
              <a>
                Demos
              </a>
              <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                    <ul class="uk-nav uk-nav-navbar">
                      <li>
                        <a href="/demos/virtual-demo">Virtual Demo
                        </a>
                      </li>
                      <li>
                        <a href="/demos/smart-home-layout">Smart Home Layout
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li data-uk-dropdown="{boundary:&quot;.tm-page:first&quot;}">
              <a href="/image-gallery">Gallery
              </a>
            </li>
            
            <li class="uk-parent" data-uk-dropdown="{boundary:&quot;.tm-page:first&quot;}">
              <a>
                More
              </a>
              <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                    <ul class="uk-nav uk-nav-navbar">
                      <li><a href="https://www.canuckaudiomart.com/userads.php?user_id=20341" target="_blank">Demo Sale</a></li>
                      <li><a href="/newsblog">Blog</a></li>
                      <li><a href="/contact">Contact</a></li>
                      <li><a href="/careers">Careers</a></li>
                      <li><a href="http://videos.westcoastavgallery.ca/" target="_blank">Videos</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        
        
        
        <div class="uk-hidden-large">
          
          <a href="#offcanvas" class="uk-navbar-toggle" data-uk-offcanvas="">
          </a>
          
        </div>
        
        
        <a class="tm-logo uk-navbar-brand uk-visible-large" href="/">
          
          <img src="/images/logo.png" alt="Logo Westcoast Audio Video Gallery">
          
        </a>
        
        
        <div class="uk-navbar-content uk-navbar-center uk-hidden-large">
          
          <a class="tm-logo-small" href="">
            
            <img class="uk-responsive-height" src="/images/logo-west-cost-av-small.png" alt="Logo Westcoast Audio Video Gallery Small">
            
          </a>
        </div>
        
      </nav>
     
        <div class="tm-block tm-block-light">
          <div class="uk-container uk-container-center">
            {{ content }}
          </div>
        </div>
     
      {% if page.ticker == true or page.is_post == true %}
        <ul class="bxslider">
          <li><a href="http://www.anthemav.com/"><img src="/images/ticker/anthem.png"></a></li>
          <li><a href="https://www.cambridgeaudio.com/"><img src="/images/ticker/cambridge.png"></a></li>
          <li><a href="http://www.triadspeakers.com/"><img src="/images/ticker/triad.png"></a></li>
          <li><a href="https://www.crestron.com/"><img src="/images/ticker/crestron.jpg"></a></li>
          <li><a href="http://www.definitivetech.com/"><img src="/images/ticker/deftech.gif"></a></li>
          <li><a href="http://ca.denon.com/ca/"><img src="/images/ticker/denon.png"></a></li>
          <li><a href="http://www.control4.com/"><img src="/images/ticker/control4.png"></a></li>
          <li><a href="http://www.xloelectric.com/"><img src="/images/ticker/xlo.png"></a></li>
          <li><a href="http://ca.marantz.com/"><img src="/images/ticker/marrantz.png"></a></li>
          <li><a href="http://www.martinlogan.com/"><img src="/images/ticker/martin.jpg"></a></li>
          <li><a href="http://www.paradigm.com/"><img src="/images/ticker/paradigm.png"></a></li>
          <li><a href="http://www.rticorp.com/"><img src="/images/ticker/rti.png"></a></li>
          <li><a href="http://wolfcinema.com/"><img src="/images/ticker/wolf.jpg"></a></li>
          <li><a href="http://www.solid-tech.net/"><img src="/images/ticker/solid.png"></a></li>
          <li><a href="http://www.kantoliving.com/"><img src="/images/ticker/kanto.jpg"></a></li>
          <li><a href="http://www.vicoustic.com/"><img src="/images/ticker/vi.png"></a></li>
          <li><a href="http://www.bdiusa.com/"><img src="/images/ticker/bdi.jpg"></a></li>
          <li><a href="http://www.sonos.com/en-ca"><img src="/images/ticker/sonos.png"></a></li>
          <li><a href="http://www.crestron.com/microsites/crestron-pyng-home-automation-ipad-app"><img src="/images/ticker/pyng.png"></a></li>
          <li><a href="http://www.factorelectronics.com/"><img src="/images/ticker/factor.png"></a></li>
          <li><a href="http://ca.denon.com/ca/heos"><img src="/images/ticker/heos.jpg"></a></li>
          <li><a href="https://www.logitech.com/"><img src="/images/ticker/logitech.jpg"></a></li>
          <li><a href="http://www.primacoustic.com/"><img src="/images/ticker/primacoustic.jpg"></a></li>
          <li><a href="http://procontrol.com/"><img src="/images/ticker/pro.jpg"></a></li>
          <li><a href="http://www.middleatlantic.ca/"><img src="/images/ticker/middle.png"></a></li>
        </ul>
      {% endif %}
      <div class="tm-bottom tm-block tm-block-black">
        <div class="uk-container uk-container-center">
          <div class="tm-block">
            <section class="tm-bottom-c uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
              <div class="uk-width-1-1">
                <div class="uk-panel">
                  <p style="text-align: center;">
                    <span style="color: #ffffff;">
                      <a href="/">
                        <span style="color: #ffffff;">Home</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/services/residential">
                        <span style="color: #ffffff;">Residential Service</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/services/commercial-page">
                        <span style="color: #ffffff;">Commercial Services</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/image-gallery">
                        <span style="color: #ffffff;">Gallery</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/demos/virtual-demo">
                        <span style="color: #ffffff;">Demos</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/brands">
                        <span style="color: #ffffff;">Brands</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/newsblog">
                        <span style="color: #ffffff;">Blog</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="https://www.canuckaudiomart.com/userads.php?user_id=20341">
                        <span style="color: #ffffff;">Demo Sale</span>
                      </a>&nbsp;&nbsp; |&nbsp;&nbsp;
                      <a href="/contact">
                        <span style="color: #ffffff;">Contact Us</span>
                      </a>
                    </span>
                    
                  </p>
                  <p style="text-align: center;">
                    <span style="font-size: 10pt; color: #ffffff;">Copyright ©&nbsp;West Coast Audio Video Gallery&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;408 Terminal Ave  Vancouver, BC V6A 0C1, Canada TEL (604) 669-5001 FAX (604) 669-5444</span></a></span>
                  </p>
                  <p style="text-align: center;">
                    <span style="color: #ffffff;">
                      <img src="/images/footer/logo_footer_bbb.png" alt="Home Automation Vancouver Better Business Bureau">&nbsp;&nbsp;
                      <img src="/images/footer/logo_footer_consumer_choice_award_2010.png" alt="Home Theater Vancouver consumer choice award 2010">&nbsp;&nbsp;
                      <span style="color: #ffffff;">
                        <img src="/images/footer/logo_footer_consumer_choice_award_2012.png" alt="Home Automation Vancouver consumer choice award 2012">
                      </span> &nbsp;
                      <span style="color: #ffffff;">
                        <img src="/images/footer/logo_footer_consumer_choice_award_2014.png" alt="Home Automation Vancouver consumer choice award 2014">
                      </span>
                      <br>
                    </span>
                  </p>
                  <center>
                  <p>
                    <a class="uk-icon-large uk-icon-twitter" href="https://twitter.com/WestcoastAVG" target="_blank"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="uk-icon-medium uk-icon-facebook" href="https://www.facebook.com/WestcoastAVGallery" target="_blank"></a>
                  </p>
                  </center>
                  
                </div>
                
              </div>
              
            </section>
          </div>
        </div>
      </div>
      <div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
          <div class="uk-panel">
            <form id="search-114" class="uk-search" action="https://www.canuckaudiomart.com/userads.php?user_id=20341" target="_blank" method="post" role="search">
              <input class="uk-search-field" type="search" name="searchword" placeholder="search...">
              <button class="uk-search-close" type="reset"></button>
              <input type="hidden" name="task" value="search">
              <input type="hidden" name="option" value="com_search">
              <input type="hidden" name="Itemid" value="251">
            </form>
          </div>
          <ul class="uk-nav uk-nav-offcanvas">
            <li><a href="/">Home </a></li>
            
            <li class="uk-parent">
              <a>Services</a>
              <ul class="uk-nav-sub">
                <li><a href="/services/residential">Residential </a></li>
                <li class="uk-parent">
                  <a href="/services/commercial-page">Commercial</a>
                  <ul>
                    <li><a href="/services/commercial/boardrooms"><i class="uk-icon-chevron-right"></i> Boardrooms </a></li>
                    <li><a href="/services/commercial/mdu"><i class="uk-icon-chevron-right"></i> MDU Automation Vancouver, BC </a></li>
                    <li><a href="/services/commercial/other"><i class="uk-icon-chevron-right"></i>Other</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="/image-gallery">Gallery </a></li>
            <li class="uk-parent">
              <a>Demos</a>
              <ul class="uk-nav-sub">
                <li><a href="/demos/virtual-demo">Virtual Demo </a></li>
                <li><a href="/demos/smart-home-layout">Smart Home Layout </a></li>
              </ul>
            </li>
            <li><a href="/brands">Brands </a></li>
            <li><a href="/clients">Clients </a></li>
            <li class="uk-active"><a href="https://www.canuckaudiomart.com/userads.php?user_id=20341" target="_blank">Demo Sale </a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% include analytics.html %}
    <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script type=""text/javascript"">
    window.__lc = window.__lc || {};
    window.__lc.license = 7869351;
    (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
    </script>
    <!-- End of LiveChat code -->
  </body>
</html>