<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="tm-isblog">

    {% include offcanvas-button.html %}

    {% include top-address-bar.html %}
    
    <div class="tm-page tm-block tm-block-light">
      
      {% include navbar.html %}

      {%  if page.path contains '_posts' or page.path contains 'blog' %}
        <div class="tm-block tm-block-light">
          <div class="uk-container uk-container-center">
            <div class="uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
              <div class="tm-main uk-width-medium-1-1">
                <main class="tm-content">
                  <article class="uk-article">
                    {{ content }}
                  </article>
                </main>
              </div>
            </div>
          </div>
        </div>
      {% else %}

        {{ content }}
      
      {% endif %}

      {% include brand-ticker.html %}
      {% include footer.html %}
      {% include offcanvas.html %}
    </div>

    {% include analytics.html %}
    {% include livechat.html %}


  </body>

</html>